html, body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/* -------------------- HOME PAGE -------------------- */

.home-page-container {
    background-color: lightgray;
    padding-top: 2vh;
    padding-bottom: 5vh;
}

/* inner navigation elements */
.center-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100vw;    
}

.inner-nav {
    width: 40%;
}

#center-nav {
    width: 70%;
}

.inner-nav>img {
    max-width: 100%;
    max-height: 100%;
    margin-top: 10%;
    display: block;
}

/* outer navigation elements */
.outer-nav {
    width: 28vw;
    margin: 3vh 36vw 0vh 36vw;
    display: inline-block;
}

.outer-nav>img {
    max-width: 100%
}

/* -------------------- BIO/RESUME PAGE -------------------- */

/* ---------- bio ---------- */
.bio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100vw;
}

.bio-photo-container {
    order: -1;
    width: fit-content;
    margin-bottom: 2vh;
}

.bio-photo {
    width: 100vw;
}

.bio-text {
    margin: 8px 10px;
}

/* ---------- resume ---------- */
.resume-container {
    margin: 2vh auto;
    width: 100vw;
}

#resume-link {
    width: 100vw;
    /* height: 30vh; */
}

/* ---------- to home ---------- */
#bio-back {
    margin: 4vh auto;
    text-align: center;
    font-size: 1.5rem;
    color: gold;
    background-color: rgb(55, 55, 55, 1);
}


/* hide elements with .hide class */
.hide {
    display: none;
}